a {
  text-decoration: none;
  color: var(--orange_color);
  display: inline-block;
}
:root {
  --orange_color: #f58220;
  --darkBlue_color: #0b3c65;
  --NAVY_color: #4a90e2;
  --lightGray_color: #f5f5f5;
  --main_font: "Abril Fatface", serif;
  --secondary_font: "Righteous", sans-serif;
  --third_font: "PT Sans Caption", sans-serif;
}
h1 {
  color: var(--darkBlue_color);
  font-family: var(--main_font);
  margin-bottom: 20px;
  font-size: 40px;
  letter-spacing: 1px;
}
h2{
  color: var(--darkBlue_color);
  font-family: var(--third_font_font);
  margin-bottom: 20px;
  font-size: 16px;
  letter-spacing: 1px;
}
body{
background-image: url("../images/WhatsApp\ Image\ 2025-09-29\ at\ 19.23.14_ab63f557.jpg"); 
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
          overflow: hidden;
        backdrop-filter: blur(5px);
  color: var(--darkBlue_color);
  font-family: var(--secondary_font);
}


.booking-box {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  width: 450px;
}

input,
select {
  width: 90%;
  padding: 10px;
  border-radius: 8px;
  border: var(--orange_color) 2px solid;
  margin: 8px 0;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #f77f00;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: var(--NAVY_color);
}
picture img {
  width: 100px;
}

#ticketResult {
  display: none;
  margin-top: 20px;
}

#qrcode {
  margin-top: 15px;
}
