
/* & Global-styles */
a,
span {
  display: inline-block;
}
a {
  text-decoration: none;
   color: white;
}
ul {
  list-style-type: none;
  padding-left: 0;
}

:root {
 --orange_color: #f58220;
  --darkBlue_color: #0b3c65;
  --NAVY_color: #4a90e2;
  --lightGray_color: #f5f5f5;
  --main_font: "Abril Fatface", serif;;
  --secondary_font: "Righteous", sans-serif;
  --third_font:"PT Sans Caption", sans-serif;
}
section {
  padding-block: 90px;
}



/* & Navbar-section */
.navbar{
    background-color: var(--darkBlue_color);
}

nav img{
  width:50px ;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: var(--orange_color);
}
.nav-link{
  color: white;
  transition: border-radius ;
}

.nav-link:hover {

border-radius: 15px;
color: var(--orange_color);
}

.nav-item .active {
  position: relative;
}

.nav-item .active::after {
  content: "";
  width: 30px;
  border-radius: 5px;
  border-bottom: #f58220 3px solid;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-item {
  position: relative;
}

.nav-item::after {
  content: "";
  width: 0px;
  border-radius: 5px;
  border-bottom: #f58220 3px solid;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: width 500ms, opacity 500ms;
}

.nav-item:hover::after {
  width: 30px;
  opacity: 1;
}


.btn {
  background-color: var(--orange_color);
  border-radius: 5px;

}


/* & header-section */



.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: slideShow 20s infinite;
  filter: blur(2px);
}


.slide1 { background-image: url(../images/alexx.jpeg); }
.slide2 { background-image: url(../images/stanly.jpg); animation-delay: 5s; }
.slide3 { background-image: url(../images/alex.jpeg); animation-delay: 10s; }
.slide4 { background-image: url(../images/download.jpeg); animation-delay: 15s; }


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}


.content {
  position: absolute;
  color: white;
  text-align: center;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
  z-index: 3;
}
.buttons {
  position: absolute;
 
  text-align: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%);
  z-index: 3;
}
.btn1{
  background-color: var(--orange_color);

}

.btn2{
  border: var(--orange_color) 2px solid;
transition:background-color 500ms ;
}

.btn2:hover{
  border: var(--orange_color) 2px solid;
background-color: var(--orange_color);

}


@keyframes slideShow {
  0%   { opacity: 0; }
  5%   { opacity: 1; }
  25%  { opacity: 1; }
  30%  { opacity: 0; }
  100% { opacity: 0;}
}


.content-date {
  position: absolute;
  z-index: 3;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.datetime p, .weather p {
  margin: 5px 0;
  font-size: 1.2rem;
}

#time {
  font-size: 2rem;
  font-weight: bold;
}

.weather {
  margin-top: 10px;
  font-size: 1.1rem;
}

h1{
  font-family: var(--main_font);
}
a{
  font-family: var(--secondary_font);
}
p{
  font-family: var(--third_font);
}

