
a,
span {
  display: inline-block;
}
a {
  text-decoration: none;
}


:root {
  --orange_color: #f58220;
  --darkBlue_color: #0b3c65;
  --NAVY_color: #4a90e2;
  --lightGray_color: #f5f5f5;
   --main_font: "Pacifico", cursive;
  --secondary_font: "Righteous", sans-serif;
  --third_font: "PT Sans Caption", sans-serif;
}
h1{
    color: var(--darkBlue_color);
      position: relative;
      
  font-family: var(--main_font);


}
h1::after{
    content: "";
    width: 150px;
    margin-top: 10px;
    border-bottom: #f58220 3px solid ;
    position: absolute;
    top: 100%;
    left: 25%;
    
}
h2{
    color: var(--darkBlue_color);
    position: relative;
}
h2::after{
    content: "";
    width: 150px;
    margin-top: 10px;
    border-bottom: #f58220 3px solid ;
    position: absolute;
    top: 100%;
    left: 5%;
    
}

.card-title{
    color: var(--darkBlue_color);
}

picture img {
  width: 100px;
}


/* &cards-section */

header{
    background-color: var(--lightGray_color);
}
.container .animate__fadeIn{
  animation-delay: 500ms;
}

.container .card{
    transition: transform 500ms;
}

.container .card:hover {
transform: scale(1.05);
}

